.align-right
{
	text-align: right;
}

.align-left
{
	text-align: left;
}

.align-center
{
	text-align: center;
}

.float-right
{
	float: right;
}

.float-left
{
	float: left;
}

.margin-0
{
	margin: 0;
}

.margin-top-5
{
	margin-top: 5px !important;
}

.margin-top-10
{
	margin-top: 10px !important;
}

.margin-top-15
{
	margin-top: 15px !important;
}

.margin-top-20
{
	margin-top: 20px !important;
}

.margin-top-25
{
	margin-top: 25px !important;
}

.margin-top-30
{
	margin-top: 30px !important;
}

.margin-left-10
{
	margin-left: 10px !important;
}

.margin-left-15
{
	margin-left: 15px !important;
}

.margin-left-0
{
	margin-left: 0 !important;
}

.margin-right-15
{
	margin-right: 15px !important;
}

.margin-right-0
{
	margin-right: 0 !important;
}

.margin-bottom-5
{
	margin-bottom: 5px;
}

.margin-bottom-20
{
	margin-bottom: 20px !important;
}

.cart-btn
{
	margin: 0 10px 10px;
	width: 60px;
}

.padding-top-15
{
	padding-top: 15px;
}

.padding-top-3
{
	padding-top: 3px;
}

.padding-top-5
{
	padding-top: 5px;
}

.padding-top-8
{
	padding-top: 8px;
}

.padding-0
{
	padding: 0;
}

.padding-10-0
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-25
{
	padding: 25px;
}

.padding-left-10
{
	padding-left: 10px;
}

.padding-left-30
{
	padding-left: 30px;
}

.padding-right-30
{
	padding-right: 30px;
}

.padding-0-8
{
	padding: 0 8px;
}

.padding-0-30
{
	padding: 0 30px;
}

.full-width
{
	width: 100%
}
.unit-display
{
	max-width: 50px;
	display: inline;
}

.carrier-max-width
{
	max-width: 100px;
}

.max-width-full
{
	max-width: 100%;
}

.max-width-600
{
	max-width: 600px;
}

.login-title
{
	font-size: 24px;
}

.unregistered-title
{
	display: table;
	white-space: nowrap;
	color: #888;
	font-weight: normal;
}

.unregistered-title:before
{
	border-top: 1px solid #e7e7e7;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.5em;
	width: 45%;
	right: 1.5%;
}

.unregistered-title:after
{
	border-top: 1px solid #e7e7e7;
	content: '';
	display: table-cell;
	position: relative;
	top: 0.5em;
	width: 45%;
	left: 1.5%;
}

.bold
{
	font-weight: bold;
}

.page-title
{
	font-size: 24px;
	font-weight: bold;
	color: #3c763d;
}

.list-style-none
{
	list-style: none;
}

.list-item
{
	height: 110px;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: #e5e5e5 1px solid;
	position: relative;
	display: list-item;
}

.list-item-image
{
	padding: 8px;
	width: 15%;
}

.list-item-name
{
	padding: 8px;
	width: 30%;
}

.list-item-price
{
	padding: 8px;
	width: 10%;
}

.list-item-order-info
{
	padding: 8px;
	width: 20%;
}

.list-item-order-date
{
	padding: 8px;
	width: 15%;
}

.list-item-order-status
{
	padding: 8px;
}

.search-text-border, .search-text-border:focus
{
	border: 1px solid #5cb85c;
}

.login-content-container
{
	margin: 0 auto;
	width: 350px;
	border: 1px solid #eee;
	padding: 20px 40px;
	border-radius: 4px;
}

.stock-container
{
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	padding: 0.2em 1em;
}

.content-container
{
	margin: 0 auto;
	min-width: 1200px;
	padding: 0 20px;
}

.product-item
{
	margin: 0 5% 5%;
	border: 1px solid #ededed;
	min-height: 300px;
}

.product-item:hover
{
	border: 1px solid #5cb85c;
}

.product-img-min-height
{
	min-height: 230px;
}

.product-price
{
	float: right;
	font-size: 20px;
	margin-right: 15px;
	color: #5cb85c;
}

.product-title
{
	font-size: 15px;
	margin-left: 15px;
	color: #888;
}

.product-title-link, .promotion-product-title-link
{
	color: #888;
}

.product-title-link:hover, .promotion-product-title-link:hover
{
	color: #3c763d;
}

.product-font, .category-font, .profile-font, .promotion-title
{
	color: #3c763d;
}

.product-font:hover, .category-font:hover, .profile-font:hover, .promotion-title:hover
{
	color: #3c763d;
}

.product-label
{
	margin: 15px 0;
}

.product-price
{
	font-size: 30px;
}

.product-price-label
{
	margin-top: 20px
}

.product-unit
{
	margin-top: 10px;
}

.product-description-label
{
	/*color: #3c763d;*/
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: bold;
}

.product-description-hr
{
	margin: 10px 0;
}

.checkout-btn
{
	width: 80px;
}

.empty-page
{
	text-align: center;
	padding: 50px;
	margin: 25px 0 50px;
}

.cart-empty-font
{
	font-size: 15px;
}

/*.login-button
{
	color: #fff;
	background-color: #41af4b;
	width: 100%;
}

.login-button-backup
{
	color: #fff;
	background-color: #83c900;
	width: 100%;
}

.login-button:hover
{
	color: #fff;
	background-color: #3da446;
}*/

.align-right
{
	text-align: right;
}

.footer
{
	margin-top: 30px;
	width: 100%;
	background-color: #fafbfc;
	/*background-color: #f5f5f5;*/
	/*height: 60px;*/
}

.footer-image-wrap
{
	border-top: 2px solid #5cb85c;
	border-bottom: 1px solid #e5e5e5;
}

.footer-image
{
	width: 1100px;
	height: 90px;
	margin: 0 auto;
	border-left: 1px solid #e5e5e5;
}

.footer-image-item
{
	padding: 15px 0 15px 70px;
	border-right: 1px solid #e5e5e5;
	height: 90px;
}

.footer-image-item-icon
{
	font-size: 30px;
	color: #5cb85c;
}

.footer-image-item-description
{
	font-size: 12px;
	color: #888;
}

.footer-content
{
	color: #3c763d;
	background-color: white;
}

.footer-hr
{
	margin-top: 0;
	margin-bottom: 0;
}

.footer-ul
{
	padding: 0 1em;
	list-style: none;
}

.footer-li:before
{
	content: "";
	border-color: transparent #3c763d;
	border-style: solid;
	border-width: 0.35em 0 0.35em 0.45em;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 1em;
	position: relative;
}

.footer-follow-font
{
	font-size: 28px;
}

.footer-facebook
{
	color: #3b5998;
}

.footer-twitter
{
	color: #00aced;
}

.category-hr
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.category-child-font
{
	font-size: 11px;
	color: #888;
}

.category-child-font:hover
{
	color: #888;
}

.event-chevron-background
{
	background-image: none !important;
}

.profile-icon
{
	font-size: 30px;
}

.profile-function-icon
{
	font-size: 40px;
}

.promotion-title
{
	font-size: 20px;
}

.promotion-cell
{
	border-top: 2px solid #3c763d;
}

.promotion-image
{
	width: 195px;
	height: 440px;
	position: relative;
	float: left;
}

.promotion-item-top
{
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 250px;
}

.promotion-item-right
{
	border-right: 1px solid #e5e5e5;
}

.promotion-item-bottom
{
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 150px;
}

.promotion-padding
{
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

.promotion-product-title
{
	font-size: 11px;
	color: #888;
}

.promotion-product-price
{
	font-size: 13px;
	text-align: center;
	color: #5cb85c;
}

.promotion-bottom-title-padding
{
	padding-top: 40px;
	padding-left: 40px;
}

.promotion-bottom-image-padding
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
}

.thumbnail
{
	line-height: 0;
	display: inline-block;
	border: solid 0.4em #FFF;
	max-width: 100%;
	box-shadow: 0 0 2px 1px rgba(50,50,50,0.2);
	transition: all 200ms ease-out;
	margin-bottom: 0 !important;
}

a
{
	text-decoration: none !important;
}

.trends-item
{
	display: inline-block;
	padding: 3px 6px;
	font-size: 12px;
	border: 1px solid #ccc;
	background-color: white;
	color: #888;
	margin: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 1.42857143;
	cursor: pointer;
	touch-action: manipulation;
	border-radius: 4px;
}

.trends-item:hover
{
	color: #3c763d;
	border-color: #3c763d;
}


/*start*/
.main-theme-font, .main-theme-font:hover
{
	color: #3c763d;
}

.sub-theme-font, .sub-theme-font:hover
{
	color: #888
}

.sold-out-font
{
	color: #f0ad4e;
}

.sub-theme-link
{
	color: #888;
}

.main-theme-link, .main-theme-link:hover, .sub-theme-link:hover, .main-theme-link:visited, .sub-theme-link:visited
{
	color: #3c763d;
}

.font-11
{
	font-size: 11px;
}

.font-12
{
	font-size: 12px;
}

.font-18
{
	font-size: 18px;
}

.font-25
{
    font-size: 25px;
}

.font-30
{
	font-size: 30px;
}

.main-theme-border-top
{
	border-top: 2px solid #3c763d;
}


.sub-theme-border-top
{
	border-top: 1px solid #e7e7e7;
}

.sub-theme-border-bottom
{
	border-bottom: 1px solid #e7e7e7;
}

.hr-fade-out
{
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.profile-box
{
	border: 1px solid #e7e7e7;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.font-weight-500
{
	font-weight: 500;
}

.color-black, .color-black:hover
{
	color: black;
}

.dotted-bottom
{
	border-bottom: 1px dotted #e7e7e7;
}

