.float-right
{
	text-align: right;
}

.margin-top-10
{
	margin-top: 10px;
}

.margin-top-30
{
	margin-top: 30px;
}

.margin-left-10
{
	margin-left: 10px;
}

.cart-btn
{
	margin: 0 10px 10px;
	width: 60px;
}

.padding-top-15
{
	padding-top: 15px;
}
.padding-0
{
	padding: 0;
}

.padding-0-30
{
	padding: 0 30px;
}

.full-width
{
	width: 100%
}

.max-width-full
{
	max-width: 100%;
}

.list-style-none
{
	list-style: none;
}

.list-item
{
	height: 110px;
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: #e5e5e5 1px solid;
	position: relative;
	display: list-item;
}

.list-item-image
{
	padding: 8px;
	width: 15%;
	position: relative;
	float: left;
}

.list-item-name
{
	padding: 8px;
	width: 30%;
	position: relative;
	float: left;
}

.list-item-price
{
	padding: 8px;
	width: 10%;
	position: relative;
	float: left;
}

.list-item-order-info
{
	padding: 8px;
	width: 20%;
	position: relative;
	float: left;
}

.list-item-order-date
{
	padding: 8px;
	width: 15%;
	position: relative;
	float: left;
}

.list-item-order-status
{
	padding: 8px;
	position: relative;
	float: left;
}

.search-text-border, .search-text-border:focus
{
	border: 1px solid #5cb85c;
}

.product-container
{
	margin: 0 auto;
	max-width: 1140px;
	min-width: 755px;
	padding: 20px;
	width: 100%;
}

.product-item
{
	margin: 0 1% 2%;
	border: 1px solid #ededed;
	min-height: 300px;
}

.product-item:hover
{
	border: 1px solid #5cb85c;
}

.product-img-min-height
{
	min-height: 230px;
}

.product-price
{
	float: right;
	font-size: 20px;
	margin-right: 15px;
	color: #5cb85c;
}

.product-title
{
	font-size: 15px;
	margin-left: 15px;
	color: black;
}

.product-title-link
{
	color: black;
}

.product-title-link:hover
{
	color: #83c900;
}

.product-font
{
	color: #3c763d;
}

.product-font:hover
{
	color: #3c763d;
}

.product-label
{
	margin: 15px 0;
}

.product-price
{
	font-size: 30px;
}

.product-price-label
{
	margin-top: 20px
}

.product-unit
{
	margin-top: 10px;
}

.product-description-label
{
	/*color: #3c763d;*/
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 0;
	font-weight: bold;
}

.product-description-hr
{
	margin: 10px 0;
}

/*.login-button
{
	color: #fff;
	background-color: #41af4b;
	width: 100%;
}

.login-button-backup
{
	color: #fff;
	background-color: #83c900;
	width: 100%;
}

.login-button:hover
{
	color: #fff;
	background-color: #3da446;
}*/

.align-right
{
	text-align: right;
}

.margin-left-10
{
	margin-left: 10px;
}
