<div id="notification" class="notification"
     data-add-cart-success="{{ 'template.store_template_bundle.cart.view.add_cart_success'|trans }}"
     data-add-cart-failed="{{ 'template.store_template_bundle.cart.view.add_cart_failed'|trans }}">
    <div id="notification-text" class="notification-text">

    </div>
</div>
