<div class="margin-top-10">
    <p>
        <span class="glyphicon glyphicon-map-marker"></span>
        {{ address.address }}, {{ address.postalcode }}
    </p>
    <p>
        <span class="glyphicon glyphicon-map-marker"></span>
        {{ address.addressmore }}
    </p>
</div>