<div class="row">
    <div class="col-sm-3">
        <a href="{{ url('store_homepage') }}">
            <img src="{{ asset('assets/img/logo.png') }}" width="150">
        </a>
    </div>
    <div class="col-sm-6 padding-top-15">
        <form id="search-form" method="post" action="{{ url('best365_store_product_search') }}">
            <div class="input-group">
                <input id="field" name="field" type="text" class="form-control search-text-border" placeholder="Search for...">
                <span class="input-group-btn">
                    <button id="search-button" class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>