<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{{ render(url('best365_store_language_nav')) }}
				{{ render(url('best365_store_currency_nav')) }}
			</ul>
			{{ render(url('best365_store_user_nav')) }}
		</div>
	</div>
</nav>