{% extends "@Best365/Layout/_layout.html.twig" %}
{% set perLine = 4 %}
{% set line = 5 %}
{% set perPage = perLine * line %}
{% if app.request.get('page') %}
    {% set page = app.request.get('page') %}
{% else %}
    {% set page = 1 %}
{% endif %}

{% set start = perPage * (page - 1) %}
{% set end = perPage * page - 1 %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            {% if categories %}
            {% include "@Best365/Layout/_categories.html.twig" with {"categories": categories} %}
            {% else %}
                <div class="main-theme-font"><strong>{{ "template.store_template_bundle.search.searching"|trans }}</strong></div>
                <div class="sub-theme-font font-11 margin-top-5 margin-left-10">{{ searching }}</div>
            {% endif %}
        </div>
        <div class="col-sm-10">
            {% if purchasables|length > 0 %}
                <div id="pagination-header">
                    {% include "@Best365/Layout/_pagination.header.html.twig"  with { "line": purchasables, "perPage": perPage } %}
                </div>
                <div class="margin-top-10">
                    {% set currentColumn = 1 %}
                    {% set i = 0 %}
                    {% for purchasable in purchasables %}
                        {% if i >= start and i <= end %}
                            {% if currentColumn == 1 %}
                                <div class="row margin-bottom-20">
                            {% endif %}
                            <div class="col-sm-3">
                                {% include "@Best365/Layout/_products.item.html.twig" with { "item": purchasable} %}
                            </div>
                            {% set currentColumn = currentColumn + 1 %}
                            {% if currentColumn > perLine or i == purchasables|length - 1 %}
                                </div>
                                {% set currentColumn = 1 %}
                            {% endif %}
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <div id="pagination-footer">
                    {% include "@Best365/Layout/_pagination.footer.html.twig"  with { "line": purchasables, "perPage": perPage } %}
                </div>
            {% else %}
                <div class="empty-page">
                    <h4>
                        <i class="fa fa-meh-o" aria-hidden="true"></i>
                        {{ "template.store_template_bundle.product.list.no_products"|trans }}
                    </h4>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
