{% extends "@Best365LayoutStoreTemplate/User/user.layout.html.twig" %}

{% block userbody %}
<div class="col-xs-10">
	<h3>
		{% if app.request.attributes.get('_route') == "best365_store_order_list" %}
			{{ 'template.store_template_bundle.order.list.orders'|trans }}
		{% else %}
			Watchlist
		{% endif %}
	</h3>
	<ul class="list-style-none">
		<li class="list-item">
			{% for order in orders %}
				{% include "@Best365LayoutStoreTemplate/User/list.item.html.twig" with {"item": order} %}
			{% endfor %}
		</li>
	</ul>
	
</div>
{% endblock %}