<div class="row margin-top-30">
    <div class="promotion-title">
        <i class="fa fa-optin-monster" aria-hidden="true"></i>
        {{ "template.store_template_bundle.home.brands"|trans }}
    </div>
</div>
<div class="row promotion-cell">
    {% set i = 1 %}
    {% for manufacturer in manufacturers %}
        {% if i % 6 == 1 %}
        <div class="row margin-top-10 margin-left-0 margin-right-0">
        {% endif %}
        <div class="col-sm-2">
            <a href="{{ url('best365_store_product_search', { field: manufacturer.name }) }}" class="thumbnail">
                <img src="{{ manufacturer.getSortedImages.first|resize({ height: 100, width: 100, type: 4 }) }}" class="brand-thumbnail" />
            </a>
        </div>
        {% if i % 6 == 0 or i == manufacturers|length %}
        </div>
        {% endif %}
        {% set i = i + 1 %}
    {% endfor %}
</div>
