<div class="row margin-top-30 promotion-title-border">
    <div class="promotion-title float-left">
        <a href="{{ url('best365_store_category_purchasables_list', { id: category.category.id }) }}"  class="category-font">
            <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
            {{ category.category.name }}
        </a>
    </div>
    <div class="float-right">
        <a href="{{ url('best365_store_category_purchasables_list', { id: category.category.id }) }}"  class="category-font">
            {{ 'template.store_template_bundle.product.more'|trans }}
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
{% set currentColumn = 1 %}
{% for item in category.products %}
    {% if currentColumn == 1 %}
        <div class="row">
    {% endif %}
    <div class="col-sm-5ths margin-top-15 margin-bottom-10">
        {% include "@Best365/Layout/_products.item.html.twig" with { "item": item} %}
    </div>
    {% set currentColumn = currentColumn + 1 %}
    {% if currentColumn > 5 or loop.last %}
        </div>
        {% set currentColumn = 1 %}
    {% endif %}
{% endfor %}
