<div class="empty-page" data-test="empty-cart">
    <h4>
        <span class="glyphicon glyphicon-shopping-cart"></span>
        {{ "template.store_template_bundle.cart.view.your_cart_is_empty"|trans}}
    </h4>
    <a class="btn btn-success" href="{{ url('best365_store_homepage') }}">
        <span class="glyphicon glyphicon-chevron-left"></span>
        {{ 'template.store_template_bundle.cart.view.continue_shopping'|trans }}
    </a>
</div>