{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <div class="container">
        <input type="hidden" id="cart-item-number" value="{{ cart.totalItemNumber }}" />
        {% if cart.totalItemNumber == 0 %}
            {% include '@Best365/Cart/cart.empty.html.twig' %}
        {% else %}
            {% include '@Best365/Cart/cart.item.html.twig' with { cart: cart } %}
            {% include '@Best365/Cart/cart.checkout.html.twig' with { cart: cart, addresses: addresses, shipping_methods: shipping_methods } %}
            <div id="edit-address" class="container" title="{{ 'template.store_template_bundle.address.edit.add_new_address'|trans }}" style="overflow: auto">
                {% include '@Best365/User/address.item.html.twig' with { form: form, cart: true } %}
            </div>
        {% endif %}
    </div>
{% endblock %}
