{% if formula %}
    <hr class="checkout-hr">
    <p class="bold">
        {{ 'template.store_template_bundle.checkout.summary.notice'|trans }}
    </p>
    <input type="checkbox" class="form-check-input" id="notice">
    {{ 'template.store_template_bundle.checkout.summary.formula'|trans }}
{% endif %}