<p class="bold">
    {{ 'template.store_template_bundle.checkout.summary.checkout'|trans }}
</p>
<select name="payment-method" class="form-control">
    <option value="poli">
        {{ 'template.store_template_bundle.checkout.payment.poli'|trans }}
    </option>
    <option value="wechat" selected="selected">
        {{ 'template.store_template_bundle.checkout.payment.wechat'|trans }}
    </option>
    <option value="transfer">
        {{ 'template.store_template_bundle.checkout.payment.transfer'|trans }}
    </option>
</select>