{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row padding-0-30">
			{% block userbody%}
			{% endblock %}
		</div>
	</div>
{% endblock %}
