{% extends "@Best365/Layout/_layout.html.twig" %}

{% block content %}
    <h3 class="main-theme-font">{{ page.title }}</h3>
    <div class="sub-theme-font margin-top-30">
        {{ page.content|raw }}
    </div>
{% endblock %}